body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  body > .grid {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 6px #357da3 solid; }
    @media (min-width: 800px) {
      body > .grid {
        margin-top: 4rem;
        padding-top: 3rem; } }
    @media (min-height: 800px) {
      body > .grid {
        margin-bottom: 6rem; } }
  @media (max-width: 460px) {
    body {
      font-size: .85rem; } }

article {
  width: 100%;
  margin: 0 0 2rem; }

header {
  color: #357da3; }
  @media (max-width: 800px) {
    header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start; } }
  @media (max-width: 460px) {
    header {
      flex-direction: column;
      align-items: stretch; } }

h1 {
  margin-bottom: 0;
  font-weight: 600; }

h2 {
  margin-top: 0;
  font-weight: 500; }
  @media (max-width: 460px) {
    h2 {
      margin-bottom: .5rem; } }

h3 {
  font-weight: 500;
  text-transform: uppercase;
  color: #357da3; }

h4 {
  margin-bottom: .15rem;
  font-weight: 400; }

p {
  font-weight: 300; }

ul {
  padding-left: 1.75rem;
  font-weight: 300; }

a {
  font-weight: 300;
  text-decoration: none;
  color: inherit; }

/* Layout */
.contain {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 800px) {
    .contain {
      width: 100%; } }

.grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start; }
  @media (max-width: 800px) {
    .grid {
      flex-direction: column; } }

.col--left {
  width: 20%;
  min-width: 200px;
  margin-right: .5rem; }

.col--right {
  width: 80%; }

@media (max-width: 460px) {
  .title {
    text-align: center; } }

.contact > * {
  display: block;
  margin-bottom: .25rem; }

@media (max-width: 800px) {
  .contact {
    text-align: right; } }

@media (max-width: 460px) {
  .contact {
    text-align: center; }
    .contact p {
      display: none; } }

footer {
  padding-top: .25rem;
  border-top: 2px #357da3 solid;
  text-align: center; }

@media (max-width: 800px) {
  .col {
    width: 100%; }
  .col--left {
    padding-bottom: 6px; } }
