body > .grid {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 6px #357da3 solid; }
  @media (min-width: 800px) {
    body > .grid {
      margin-top: 4rem;
      padding-top: 3rem; } }
  @media (min-height: 800px) {
    body > .grid {
      margin-bottom: 6rem; } }

.grid {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start; }
  @media (min-width: 1050px) {
    .grid {
      flex-direction: row; } }

@media (max-width: 800px) {
  .col {
    width: 100%; } }

h1 {
  margin-bottom: 0;
  font-weight: 600; }

h2 {
  margin-top: 0;
  font-weight: 500; }
  @media (max-width: 460px) {
    h2 {
      margin-bottom: .5rem; } }

h3 {
  font-weight: 500;
  text-transform: uppercase;
  color: #357da3; }

h4 {
  margin-bottom: .25rem;
  font-weight: 400; }

p {
  font-weight: 300; }

ul {
  margin-top: 0;
  padding-left: 1.2rem;
  font-weight: 300; }

a {
  font-weight: 300;
  text-decoration: none;
  color: inherit; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: relative; }
  @media (max-width: 460px) {
    body {
      font-size: .85rem; } }

article {
  width: 100%;
  margin: 0 0 2rem; }

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 270px;
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: #357da3;
  color: #fff; }
  @media (max-width: 800px) {
    header {
      position: static;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 1rem; }
      header h2,
      header a:last-child {
        margin-bottom: 0; } }
  @media (max-width: 460px) {
    header {
      flex-direction: column;
      align-items: stretch; } }

main {
  max-width: 1200px;
  margin-left: 270px;
  padding: 4rem; }
  @media (max-width: 800px) {
    main {
      margin-left: auto; } }
  @media (max-width: 620px) {
    main {
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media (max-width: 460px) {
    main {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem; } }

.contain {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 800px) {
    .contain {
      width: 100%; } }

@media (max-width: 460px) {
  .title {
    text-align: center; } }

.contact > * {
  display: block;
  margin-bottom: .25rem; }

@media (max-width: 800px) {
  .contact {
    text-align: right; } }

@media (max-width: 460px) {
  .contact {
    text-align: center; }
    .contact p {
      display: none; } }

footer {
  padding-top: .25rem;
  border-top: 2px #357da3 solid;
  text-align: center; }
