* {
  box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

h1, h1, h3, h4, h5, h6, p {
  margin-top: 0; }

button {
  padding: 8px;
  border: 0;
  border-radius: 4px;
  font-size: 1rem; }

table {
  border-collapse: collapse; }

thead {
  font-weight: bold; }

th, td {
  padding: 8px;
  border: 1px #d3d3d3 solid; }

.heading {
  border-bottom: 1px gray solid;
  padding-bottom: 4px; }

article {
  width: 90%;
  margin: 40px auto 0; }

article section {
  margin-bottom: 40px;
  padding-left: 20px; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #f5f5f6; }
  @media (min-width: 800px) {
    body {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch; } }
  @media (max-width: 600px) {
    body {
      height: auto;
      flex-direction: column;
      font-size: .95rem; } }

main {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 0;
  padding-left: 4rem;
  padding-right: 4rem; }
  @media (max-width: 1000px) {
    main {
      padding-left: .25rem;
      padding-right: .25rem; } }
  @media (max-width: 620px) {
    main {
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem; } }
  @media (max-width: 460px) {
    main {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem; } }
  main section {
    padding: 1rem; }

article {
  width: 100%;
  margin: 0; }

.list-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .list-row > li {
    width: 100%;
    margin-bottom: 1rem; }
    @media (max-width: 800px) {
      .list-row > li {
        padding-left: 1rem; } }
    .list-row > li:last-child {
      margin-bottom: 0; }
    .list-row > li span {
      display: block;
      font-size: .7rem;
      font-style: italic;
      color: gray; }
    .list-row > li ul li {
      margin-bottom: .25rem; }
      @media (max-width: 800px) {
        .list-row > li ul li {
          width: 100%; } }
    @media (max-width: 800px) {
      .list-row > li {
        width: 33.3333%;
        margin-bottom: 2rem; } }

h1 {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 2px white solid;
  font-size: 1.7rem;
  font-weight: 300; }

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 300; }
  @media (max-width: 460px) {
    h2 {
      margin-bottom: .5rem; } }

h3 {
  margin-bottom: 2rem;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: darkgray; }

h4 {
  margin-bottom: .25rem;
  font-weight: 600; }

p {
  font-weight: 300; }

ul {
  margin-top: 0;
  padding-left: 1.2rem;
  font-weight: 300; }

a {
  font-weight: 300;
  text-decoration: none;
  color: inherit; }

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #000;
  padding: 2rem;
  border-bottom: 1px solid #e8e8e9;
  background: #fff; }
  @media (max-width: 800px) {
    header h2 {
      margin-bottom: 0; } }
  @media (max-width: 600px) {
    header {
      padding: 1rem;
      flex-direction: row;
      align-items: center; } }
  @media (max-width: 400px) {
    header {
      flex-direction: column;
      padding-top: .75rem;
      padding-bottom: .75rem; } }

.title {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .title h1 {
    border-bottom-color: black; }
  @media (max-width: 600px) {
    .title {
      text-align: left; } }
  @media (max-width: 400px) {
    .title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 16px; }
      .title h1 {
        border-right: 1px #fff solid;
        margin-right: 10px;
        padding-right: 10px;
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: right;
        font-size: 1.4rem; }
      .title h2 {
        font-size: 1.1rem; } }

@media (max-width: 400px) {
  .contact p {
    display: none; } }

.contact > * {
  display: block;
  margin-bottom: .25rem; }

@media (max-width: 600px) {
  .contact {
    display: none; } }

.bg-pattern {
  position: relative; }
  .bg-pattern:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/97665/absurdidad.png"); }

.link-gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0;
  list-style: none;
  padding-left: 0; }
  .link-gallery li {
    margin-bottom: 0; }
    .link-gallery li:not(:first-of-type) {
      padding-left: 2rem; }
  .link-gallery a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none; }
    .link-gallery a img,
    .link-gallery a svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: #252424;
      margin-right: 10px; }
  @media (max-width: 600px) {
    .link-gallery {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      flex: 0 1 20%; }
      .link-gallery li {
        margin-bottom: 0 !important; }
        .link-gallery li a {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: center;
          padding: 0 10px; }
          .link-gallery li a img {
            margin: 0 auto .25rem; } }
  @media (max-width: 400px) {
    .link-gallery li a {
      padding-left: 1.25rem;
      padding-right: 1.25rem; }
      .link-gallery li a img {
        width: 20px;
        height: 20px; }
      .link-gallery li a span {
        font-size: .6rem; } }

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  margin-top: 50px; }
  footer .contact {
    text-align: right; }
    @media (max-width: 920px) {
      footer .contact {
        display: block;
        margin-bottom: 6px;
        text-align: center; } }
  footer p {
    margin-bottom: 0; }
    @media (max-width: 920px) {
      footer p {
        order: 2; } }
  @media (max-width: 920px) {
    footer {
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px; } }

.footer-col p {
  margin-bottom: .25rem;
  margin-right: 10px; }
  @media (max-width: 900px) {
    .footer-col p {
      margin-right: 0; } }

.footer-col .banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  margin-top: 0;
  padding: 0;
  border: 0;
  text-align: left; }
  @media (max-width: 900px) {
    .footer-col .banner {
      margin-bottom: 10px;
      justify-content: center; }
      .footer-col .banner p {
        order: 0;
        margin-right: 10px; } }
  .footer-col .banner .banner__actions {
    justify-content: flex-start; }
  .footer-col .banner p {
    margin-bottom: 0; }
  .footer-col .banner a {
    padding: 0;
    margin: 0; }

@media (max-width: 900px) {
  .footer-col {
    text-align: center; } }

.grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start; }
  @media (max-width: 800px) {
    .grid {
      flex-direction: column-reverse; } }

.col--sidebar {
  max-width: 320px; }
  @media (max-width: 800px) {
    .col--sidebar {
      width: 100%;
      max-width: none;
      margin-top: 2rem; } }

.banner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 4px;
  color: #fff;
  border: 1px #fff solid;
  border-radius: 2px;
  margin-top: 20px; }
  @media (max-width: 900px) {
    .banner {
      transform: none;
      right: 20px;
      left: auto; } }
  .banner p {
    margin-bottom: 4px; }
  .banner a {
    padding: .25rem .5rem;
    text-decoration: underline; }
    .banner a:first-of-type {
      margin-right: 10px; }

.banner__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }

.contain {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 800px) {
    .contain {
      width: 100%; } }

.card {
  margin: 0;
  padding: 1rem 2rem;
  border: 1px solid #e8e8e9;
  background: #fff; }
  .card:not(:last-child) {
    margin-bottom: 40px; }
  .card article {
    margin: 0 0 2rem; }
    .card article:last-child {
      margin-bottom: 0; }

@media print {
  h1 {
    margin-bottom: 0; }
  body {
    background: none;
    line-height: 1.2;
    font-size: .75rem; }
  .bg-pattern {
    position: static; }
    .bg-pattern:after {
      content: "";
      position: static;
      display: none; }
  header {
    box-shadow: none;
    color: #000; }
  .link-gallery {
    display: none; }
  .list-row li {
    flex: 0 1 20%; }
  .contact {
    display: block;
    text-align: right; }
  h3 {
    color: #000;
    box-shadow: none; }
  main {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: visible; }
  footer {
    border: 0; } }
