html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    background: #f5f5f6;

    @media (max-width: 600px) {
        height: auto;
        flex-direction: column;
        font-size: .95rem;
    }
}
.wrap{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
main{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;

    @media (max-width: 1000px) {
        padding-left: .25rem;
        padding-right: .25rem;
    }
    @media (max-width: 620px) {
        padding-top: 2rem;
    }
    @media (max-width: 460px) {
        padding-top: 1rem;
        padding-left: 0;
        padding-right: 0;
    }
}

article{
    width: 100%;
    margin: 0;
}

.list-row{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding-left: 0;

    > li{
        width: 100%;
        margin-bottom: 1rem;

        &:last-child{
            margin-bottom: 0;
        }

        span{
            display: block;
            font-size: .7rem;
            font-style: italic;
            color: gray;
        }

        ul{
            li{
                margin-bottom: .25rem;

                @media (max-width: 800px){
                    width: 100%;
                }
            }
        }
        @media (max-width: 800px){
            width: 33.3333%;
            margin-bottom: 2rem;
            padding-left: 1rem;
        }
        @media (max-width: 550px){
            width: 50%;
        }
    }
    @media (max-width: 800px){
        flex-direction: row;
    }
}
ul.column-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;

    li{
        margin-right: 1.75rem;
        margin-bottom: .5rem;
    }
}