footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: .25rem;
    border-top: 2px $blue solid;
    text-align: center;
    padding-top: 10px;

    .contact {
        text-align: right;
        
        @media (max-width: 920px) {
            display: block;
            margin-bottom: 6px;
            text-align: center;
        }
    }

    p {
        margin-bottom: 0;

        @media (max-width: 920px) {
            order: 2;
        }
    }

    @media (max-width: 920px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
}