.grid{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 800px){
        flex-direction: column;
    }
}
.col{
    padding: 0 1rem;

    @media (max-width: 550px){
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
.col--sidebar{

    @media (min-height: 600px){
        position: sticky;
        top: 50px;
    }

    @media (max-width: 800px){
        position: static;
        width: 100%;
        max-width: none;
        margin-top: 2rem;
    }
}
.col--body{
    width: 80%;

    @media (max-width: 800px){
        width: auto;
    }
    li{
        margin-bottom: .25rem;
    }
}