.grid{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: 1050px) {
        flex-direction: row;
    }
}
.col{
    @media (max-width: 800px) {
        width: 100%;
    }
}