.grid{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: 1050px) {
        flex-direction: row;
    }
}
.col{
    padding: .5rem;
    @media (max-width: 800px) {
        width: 100%;
    }
}

.col--sidebar{
    width: 20%;
}
.col--body{
    width: 80%;
}