h1{
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 2px white solid;
    font-size: 1.7rem;
    font-weight: 300;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 300;

    @media (max-width: 460px) {
        margin-bottom: .5rem;
    }
}

h3{
    // display: inline-block;
    margin-bottom: 2rem;
    // padding: 0 40px;
    // border-radius: 1px;
    // background: #1e5799;
    font-size: 16px;
    // font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: rgb(169, 169, 169);
    // box-shadow: 5px 5px 0px 0px rgba(53,125,163,0.35);
}

h4{
    margin-bottom: .25rem;
    font-weight: 600;
}

p{
    font-weight: 300;
}

ul{
    margin-top: 0;
    padding-left: 1.2rem;
    font-weight: 300;
}

a{
    font-weight: 300;
    text-decoration: none;
    color: inherit;
}