@import 'vars';
@import 'spritz';
@import 'base';
@import 'type';
@import 'header';
@import 'footer';
@import 'grid';
@import 'banner';
@import 'utilities';
@import 'cards';
@import 'print';

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}
.gallery-item{
    width: 100%;
    max-width: 33.3333%;
    padding: 1rem 2rem;

    a{
        display: block;
        // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
        border: 1px #e8e8e9 solid;

        &:before{
            content: "";
            display: block;
            width: 100%;
            min-height: 100px;
            background-image: url('../img/heifer01.jpg');
            background-size: 100%;
            background-position: center;
            border-bottom: 1px #e7e7e8 solid;
            box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.0);
            transition:
                background-size .2s ease-out,
                box-shadow .1s ease-out;
                
            ;
        }

        &:hover{
            &:before{
                background-size: 105%;
                box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.2);
            }
        }
    }
}
#einsteinsProject{

    &:before{
        background-image: url('../img/einstein01.jpg');
        background-position: top center;
    }
}
#heiferCartProject{
    &:before{
        background-image: url('../img/heifer-cart01.jpg');
        background-position: top center;
    }
}
#visionWorksProject{
    &:before{
        background-image: url('../img/vw.png');
        background-position: top center;
    }
}
#kalkomeyProject{
    &:before{
        background-image: url('../img/kalk05.png');
        background-position: top center;
    }
}
#curvesProject{
    &:before{
        background-image: url('../img/curves03.png');
        background-position: top center;
    }
}
.gallery-item__title{
    margin-top: .5rem;
    margin-bottom: .75rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: .85rem;
    font-weight: 600;
}
.gallery-item__subtitle{
    margin-top: 0;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: .8rem;
    font-weight: 400;
}