$blue: #357da3;
$gray: #7a7a7a;

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    // font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
article{
    width: 100%;
    margin: 0 0 2rem;
}
header{
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-top: 6px $blue solid;
    padding-top: 1rem;
    font-size: .85rem;
    color: $blue;

    @media (min-width: 800px) {
        margin-top: 4rem;
    }
  
    @media (min-height: 800px) {
        margin-bottom: 6rem;
    }
}
h1{
    margin-bottom: 0;
    font-weight: 600;
}
h2{
    margin-top: 0;
    font-weight: 500;
}
h3{
    margin-bottom: .5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
}
h4{
    margin-bottom: .15rem;
    font-weight: 400;
}
p{
    font-family: 'Muli';
    font-weight: 300;
}
ul{
    padding-left: 1.75rem;
    font-weight: 300;
}
a{
    font-weight: 300;
}

/* Layout */
.contain{
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.grid{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  
    @media (max-width: 800px){
        flex-direction: column;
    }
}
.col{
    // padding: .5rem;
  
    &--left{
        width: 20%;
        min-width: 200px;
        margin-right: .5rem;
    }
    &--right{
        width: 80%;
    }
}
aside{
    a{
        display: block;
        color: $blue;
        text-decoration: none;
    }
    p{
        margin-bottom: 0;
    }
    @media (max-width: 800px){
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

footer{
    padding-top: .25rem;
    border-top: 2px $blue solid;
    text-align: center;
}

@media (max-width: 800px){
    .col{
        width: 100%;
    }
    .col--left{
        padding-bottom: 6px;
        order: 2;
    }
}